@model List<Filiaal>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Onze filialen</h2>
<ul>
    @foreach (var filiaal in Model)
    {
        var url = "Verwijderen/" + filiaal.Id;

        <li>
            @filiaal.Id @filiaal.Naam @Html.DisplayFor(m => filiaal.Gebouwd) @Html.DisplayFor(m => filiaal.Waarde)
            @Html.DisplayFor(m => filiaal.eigenaar)
            <a asp-action="Verwijderen" asp-controller="Home" asp-route-id="@filiaal.Id">Verwijderen</a>
        </li>
    }
</ul>